name: Push docs

on:
  push:
    branches:
    - main
    - documentation

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version-file: pyproject.toml

    - name: Install font
      run: |
        cd /usr/share/fonts
        wget https://github.com/JulietaUla/Montserrat/archive/refs/tags/v7.222.tar.gz
        tar -xvzf v7.222.tar.gz
        sudo chmod -R --reference=/usr/share/fonts/truetype Montserrat-7.222
        sudo fc-cache -fv
        fc-match Montserrat

    - run: |
        uv run mkdocs gh-deploy --force
